<% was_validated = borrower.errors.any? %>

<%= form_with(model: borrower, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for name start -->
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = borrower.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <!-- Input for name end -->
    <% if name_was_invalid %>
      <% borrower.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for name end -->
  <!-- Label and input for contact start -->
  <div class="form-group">
    <% contact_class = "form-control" %>
    <% contact_was_invalid = borrower.errors.include?(:contact) %>

    <% if was_validated %>
      <% if contact_was_invalid %>
        <% contact_class << " is-invalid" %>
      <% else %>
        <% contact_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :contact %>
    <!-- Input for contact start -->
    <%= f.text_field :contact, class: contact_class, placeholder: "Enter contact" %>
    <!-- Input for contact end -->
    <% if contact_was_invalid %>
      <% borrower.errors.full_messages_for(:contact).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for contact end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
