<%= form_with(model: @clothing_piece, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :clothing_type %>

    <%= f.text_field :clothing_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :brand_name %>

    <%= f.text_field :brand_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_used_date %>

    <%= f.date_select :last_used_date, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :borrowed, class: "form-check-input" %>
    <%= f.label :borrowed, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :borrower_id %>

    <%= f.collection_select :borrower_id, Borrower.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create clothing piece", class: "btn btn-block btn-outline-secondary" %>
<% end %>
