<div class="card mb-3">
  <h2 class="card-header h4">
    Clothing Piece #<%= clothing_piece.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Title</dt>
      <dd><%= clothing_piece.title %></dd>

      <dt>Description</dt>
      <dd><%= clothing_piece.description %></dd>

      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @clothing_piece.image, class: "img-fluid" %>
      </dd>

      <dt>Clothing type</dt>
      <dd><%= clothing_piece.clothing_type %></dd>

      <dt>Brand name</dt>
      <dd><%= clothing_piece.brand_name %></dd>

      <dt>Last used date</dt>
      <dd><%= clothing_piece.last_used_date %></dd>

      <dt>Borrowed</dt>
      <dd><%= clothing_piece.borrowed %></dd>

      <dt>Borrower</dt>
      <dd>
        <% if @clothing_piece.borrower.present? %>
          <%= link_to clothing_piece.borrower, clothing_piece.borrower %>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @clothing_piece.user.present? %>
          <%= link_to clothing_piece.user, clothing_piece.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back clothing_piece, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @clothing_piece.user %>
          <%= link_to edit_clothing_piece_url(clothing_piece), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @clothing_piece.user %>
          <%= link_to clothing_piece, method: :delete, data: { confirm: "Do you really want to delete this clothing_piece?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(clothing_piece.updated_at) %> ago
  </div>
</div>
